@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');



* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #fbd065 !important;
  text-decoration: none;
}


svg {
  fill: #fbd065 !important;
}

* {
  box-sizing: border-box;
}


.title:hover {
  animation: transform ease .3s;
  color: #00b3ff;
  cursor: pointer;
}

h1 span {
  animation: animate 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

h3 {
  font-size: 30px;
}

@keyframes animate {
  0% {
    color: #000;
    filter: blur(1px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  30%,
  70% {
    color: #000;
    filter: blur(1px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
  }

  100% {
    color: transparent;
    filter: blur(2px) hue-rotate(0deg);
    box-shadow: none;
  }
}


/*
Scrollbar
**/

pre::-webkit-scrollbar {
  -webkit-appearance: none;
}

pre::-webkit-scrollbar:vertical {
  width: 10px;
}

pre::-webkit-scrollbar-button:increment,
pre::-webkit-scrollbar-button {
  display: none;
}

pre::-webkit-scrollbar:horizontal {
  height: 10px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #005091;
  border-radius: 20px;
  border: 2px solid #001b96;
}

pre::-webkit-scrollbar-track {
  border-radius: 10px;
}